body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav img {
    height: 40px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .content {
    padding: 40px;
  }
  
  .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 5px;
}



  
  .card h3 {
    margin-top: 10px;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  